
bin/
ignore/
CMakeFiles/
CMakeCache.txt
DartConfiguration.tcl
Makefile
include/config.hpp
install_manifest.txt
*.cmake

Testing/
cmake_install.cmake
.directory
/*.2bit
repeats.txt
build/
xcheck.sh
*.fa.fai
*.o
/bin-meson
/build-meson
*.ninja
.ninja*
test-mount.sh
*.dict
*.pyc
.venv
.txt#
.~lock*
*.txt#
perf.*
/gmon.out
analysis.txt
*.naf
.kdev4
